.add-product{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 5%;
    background: #fff;

    .itemfield{
        width: 100%;
        color: #444;
        font-size: 16px;

        input{
            box-sizing: border-box;
            width: 100%;
            height: 50px;
            border-radius: 5px;
            padding-left: 15px;
            border: 1px solid #ccc;
            outline: none;
            color: #9b9b9b;
            font-family: 'Poppins';
            font-size: 14px;
        }

        .selector{
            padding: 10px;
            width: 100px;
            gap: 50px;
            font-size: 14px;
            color: #9b9b9b;
            border: 1px solid #5e5e5e;
            border-radius: 5px;
        }

        .img{
            height: 120px;
            width: 120px;
            border-radius: 50%;
            object-fit: contain;
            margin: 10px 0px;
        }
        
    }
    .price{
        display: flex;
        gap: 40px;
    }
    .btn{
        margin-top: 20px;
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background: #00a6ff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
    }
}

@media(max-width:800px){
    .add-product{
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}